=begin
#Mautic API docs

#Auto-generated Swagger documentation.

OpenAPI spec version: 3.0.0

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module SwaggerClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_batch_delete_delete(opts = {})
      api_assets_batch_delete_delete_with_http_info(opts)
      nil
    end

    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_batch_delete_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_batch_delete_delete ...'
      end
      # resource path
      local_var_path = '/api/assets/batch/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_batch_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_batch_edit_patch(opts = {})
      api_assets_batch_edit_patch_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_batch_edit_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_batch_edit_patch ...'
      end
      # resource path
      local_var_path = '/api/assets/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_batch_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_batch_edit_put(opts = {})
      api_assets_batch_edit_put_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/assets/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_batch_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_batch_new_post(opts = {})
      api_assets_batch_new_post_with_http_info(opts)
      nil
    end

    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_batch_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_batch_new_post ...'
      end
      # resource path
      local_var_path = '/api/assets/batch/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_batch_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_get(opts = {})
      api_assets_get_with_http_info(opts)
      nil
    end

    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_get ...'
      end
      # resource path
      local_var_path = '/api/assets'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_id_delete_delete(id, opts = {})
      api_assets_id_delete_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_id_delete_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_id_delete_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_assets_id_delete_delete"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_assets_id_delete_delete, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/assets/{id}/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_id_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_id_edit_patch(id, opts = {})
      api_assets_id_edit_patch_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_id_edit_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_id_edit_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_assets_id_edit_patch"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_assets_id_edit_patch, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/assets/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_id_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_id_edit_put(id, opts = {})
      api_assets_id_edit_put_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_id_edit_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_id_edit_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_assets_id_edit_put"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_assets_id_edit_put, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/assets/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_id_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_id_get(id, opts = {})
      api_assets_id_get_with_http_info(id, opts)
      nil
    end

    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_assets_id_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_assets_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/assets/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_assets_new_post(opts = {})
      api_assets_new_post_with_http_info(opts)
      nil
    end

    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_assets_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_assets_new_post ...'
      end
      # resource path
      local_var_path = '/api/assets/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_assets_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_batch_delete_delete(opts = {})
      api_campaigns_batch_delete_delete_with_http_info(opts)
      nil
    end

    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_batch_delete_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_batch_delete_delete ...'
      end
      # resource path
      local_var_path = '/api/campaigns/batch/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_batch_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_batch_edit_patch(opts = {})
      api_campaigns_batch_edit_patch_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_batch_edit_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_batch_edit_patch ...'
      end
      # resource path
      local_var_path = '/api/campaigns/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_batch_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_batch_edit_put(opts = {})
      api_campaigns_batch_edit_put_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/campaigns/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_batch_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_batch_new_post(opts = {})
      api_campaigns_batch_new_post_with_http_info(opts)
      nil
    end

    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_batch_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_batch_new_post ...'
      end
      # resource path
      local_var_path = '/api/campaigns/batch/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_batch_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of events.
    # @param campaign_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_campaign_id_events_contact_contact_id_get(campaign_id, contact_id, opts = {})
      api_campaigns_campaign_id_events_contact_contact_id_get_with_http_info(campaign_id, contact_id, opts)
      nil
    end

    # Get a list of events.
    # @param campaign_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_campaign_id_events_contact_contact_id_get_with_http_info(campaign_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_campaign_id_events_contact_contact_id_get ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling DefaultApi.api_campaigns_campaign_id_events_contact_contact_id_get"
      end
      if @api_client.config.client_side_validation && campaign_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'campaign_id' when calling DefaultApi.api_campaigns_campaign_id_events_contact_contact_id_get, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling DefaultApi.api_campaigns_campaign_id_events_contact_contact_id_get"
      end
      if @api_client.config.client_side_validation && contact_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'contact_id' when calling DefaultApi.api_campaigns_campaign_id_events_contact_contact_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{campaignId}/events/contact/{contactId}'.sub('{' + 'campaignId' + '}', campaign_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_campaign_id_events_contact_contact_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_clone_campaign_id_post(campaign_id, opts = {})
      api_campaigns_clone_campaign_id_post_with_http_info(campaign_id, opts)
      nil
    end

    # @param campaign_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_clone_campaign_id_post_with_http_info(campaign_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_clone_campaign_id_post ...'
      end
      # verify the required parameter 'campaign_id' is set
      if @api_client.config.client_side_validation && campaign_id.nil?
        fail ArgumentError, "Missing the required parameter 'campaign_id' when calling DefaultApi.api_campaigns_clone_campaign_id_post"
      end
      if @api_client.config.client_side_validation && campaign_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'campaign_id' when calling DefaultApi.api_campaigns_clone_campaign_id_post, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/clone/{campaignId}'.sub('{' + 'campaignId' + '}', campaign_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_clone_campaign_id_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_events_batch_edit_put(opts = {})
      api_campaigns_events_batch_edit_put_with_http_info(opts)
      nil
    end

    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_events_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_events_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/campaigns/events/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_events_batch_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get a list of events.
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_events_contact_contact_id_get(contact_id, opts = {})
      api_campaigns_events_contact_contact_id_get_with_http_info(contact_id, opts)
      nil
    end

    # Get a list of events.
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_events_contact_contact_id_get_with_http_info(contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_events_contact_contact_id_get ...'
      end
      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling DefaultApi.api_campaigns_events_contact_contact_id_get"
      end
      if @api_client.config.client_side_validation && contact_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'contact_id' when calling DefaultApi.api_campaigns_events_contact_contact_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/events/contact/{contactId}'.sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_events_contact_contact_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # @param event_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_events_event_id_contact_contact_id_edit_put(event_id, contact_id, opts = {})
      api_campaigns_events_event_id_contact_contact_id_edit_put_with_http_info(event_id, contact_id, opts)
      nil
    end

    # @param event_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_events_event_id_contact_contact_id_edit_put_with_http_info(event_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_events_event_id_contact_contact_id_edit_put ...'
      end
      # verify the required parameter 'event_id' is set
      if @api_client.config.client_side_validation && event_id.nil?
        fail ArgumentError, "Missing the required parameter 'event_id' when calling DefaultApi.api_campaigns_events_event_id_contact_contact_id_edit_put"
      end
      if @api_client.config.client_side_validation && event_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'event_id' when calling DefaultApi.api_campaigns_events_event_id_contact_contact_id_edit_put, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling DefaultApi.api_campaigns_events_event_id_contact_contact_id_edit_put"
      end
      if @api_client.config.client_side_validation && contact_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'contact_id' when calling DefaultApi.api_campaigns_events_event_id_contact_contact_id_edit_put, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/events/{eventId}/contact/{contactId}/edit'.sub('{' + 'eventId' + '}', event_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_events_event_id_contact_contact_id_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_events_get(opts = {})
      api_campaigns_events_get_with_http_info(opts)
      nil
    end

    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_events_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_events_get ...'
      end
      # resource path
      local_var_path = '/api/campaigns/events'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_events_id_get(id, opts = {})
      api_campaigns_events_id_get_with_http_info(id, opts)
      nil
    end

    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_events_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_events_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_events_id_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_events_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/events/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_events_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_get(opts = {})
      api_campaigns_get_with_http_info(opts)
      nil
    end

    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_get ...'
      end
      # resource path
      local_var_path = '/api/campaigns'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a lead to a campaign.
    # @param id 
    # @param lead_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_contact_lead_id_add_post(id, lead_id, opts = {})
      api_campaigns_id_contact_lead_id_add_post_with_http_info(id, lead_id, opts)
      nil
    end

    # Adds a lead to a campaign.
    # @param id 
    # @param lead_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_contact_lead_id_add_post_with_http_info(id, lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_contact_lead_id_add_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_contact_lead_id_add_post"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_contact_lead_id_add_post, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling DefaultApi.api_campaigns_id_contact_lead_id_add_post"
      end
      # resource path
      local_var_path = '/api/campaigns/{id}/contact/{leadId}/add'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'leadId' + '}', lead_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_contact_lead_id_add_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Removes given lead from a campaign.
    # @param id 
    # @param lead_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_contact_lead_id_remove_post(id, lead_id, opts = {})
      api_campaigns_id_contact_lead_id_remove_post_with_http_info(id, lead_id, opts)
      nil
    end

    # Removes given lead from a campaign.
    # @param id 
    # @param lead_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_contact_lead_id_remove_post_with_http_info(id, lead_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_contact_lead_id_remove_post ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_contact_lead_id_remove_post"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_contact_lead_id_remove_post, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'lead_id' is set
      if @api_client.config.client_side_validation && lead_id.nil?
        fail ArgumentError, "Missing the required parameter 'lead_id' when calling DefaultApi.api_campaigns_id_contact_lead_id_remove_post"
      end
      # resource path
      local_var_path = '/api/campaigns/{id}/contact/{leadId}/remove'.sub('{' + 'id' + '}', id.to_s).sub('{' + 'leadId' + '}', lead_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_contact_lead_id_remove_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of campaign contacts.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_contacts_get(id, opts = {})
      api_campaigns_id_contacts_get_with_http_info(id, opts)
      nil
    end

    # Obtains a list of campaign contacts.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_contacts_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_contacts_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_contacts_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_contacts_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{id}/contacts'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_contacts_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_delete_delete(id, opts = {})
      api_campaigns_id_delete_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_delete_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_delete_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_delete_delete"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_delete_delete, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{id}/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_edit_patch(id, opts = {})
      api_campaigns_id_edit_patch_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_edit_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_edit_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_edit_patch"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_edit_patch, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_edit_put(id, opts = {})
      api_campaigns_id_edit_put_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_edit_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_edit_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_edit_put"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_edit_put, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_id_get(id, opts = {})
      api_campaigns_id_get_with_http_info(id, opts)
      nil
    end

    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_campaigns_id_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_campaigns_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/campaigns/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_campaigns_new_post(opts = {})
      api_campaigns_new_post_with_http_info(opts)
      nil
    end

    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_campaigns_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_campaigns_new_post ...'
      end
      # resource path
      local_var_path = '/api/campaigns/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_campaigns_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_batch_delete_delete(opts = {})
      api_categories_batch_delete_delete_with_http_info(opts)
      nil
    end

    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_batch_delete_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_batch_delete_delete ...'
      end
      # resource path
      local_var_path = '/api/categories/batch/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_batch_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_batch_edit_patch(opts = {})
      api_categories_batch_edit_patch_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_batch_edit_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_batch_edit_patch ...'
      end
      # resource path
      local_var_path = '/api/categories/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_batch_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_batch_edit_put(opts = {})
      api_categories_batch_edit_put_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/categories/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_batch_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_batch_new_post(opts = {})
      api_categories_batch_new_post_with_http_info(opts)
      nil
    end

    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_batch_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_batch_new_post ...'
      end
      # resource path
      local_var_path = '/api/categories/batch/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_batch_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_get(opts = {})
      api_categories_get_with_http_info(opts)
      nil
    end

    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_get ...'
      end
      # resource path
      local_var_path = '/api/categories'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_id_delete_delete(id, opts = {})
      api_categories_id_delete_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_id_delete_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_id_delete_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_categories_id_delete_delete"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_categories_id_delete_delete, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/categories/{id}/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_id_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_id_edit_patch(id, opts = {})
      api_categories_id_edit_patch_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_id_edit_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_id_edit_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_categories_id_edit_patch"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_categories_id_edit_patch, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/categories/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_id_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_id_edit_put(id, opts = {})
      api_categories_id_edit_put_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_id_edit_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_id_edit_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_categories_id_edit_put"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_categories_id_edit_put, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/categories/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_id_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_id_get(id, opts = {})
      api_categories_id_get_with_http_info(id, opts)
      nil
    end

    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_categories_id_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_categories_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/categories/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_categories_new_post(opts = {})
      api_categories_new_post_with_http_info(opts)
      nil
    end

    # Creates a new entity.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_categories_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_categories_new_post ...'
      end
      # resource path
      local_var_path = '/api/categories/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_categories_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_batch_delete_delete(opts = {})
      api_companies_batch_delete_delete_with_http_info(opts)
      nil
    end

    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_batch_delete_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_batch_delete_delete ...'
      end
      # resource path
      local_var_path = '/api/companies/batch/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_batch_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_batch_edit_patch(opts = {})
      api_companies_batch_edit_patch_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_batch_edit_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_batch_edit_patch ...'
      end
      # resource path
      local_var_path = '/api/companies/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_batch_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_batch_edit_put(opts = {})
      api_companies_batch_edit_put_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/companies/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_batch_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_batch_new_post(opts = {})
      api_companies_batch_new_post_with_http_info(opts)
      nil
    end

    # Create a batch of new entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_batch_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_batch_new_post ...'
      end
      # resource path
      local_var_path = '/api/companies/batch/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_batch_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Adds a contact to a company.
    # @param company_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_company_id_contact_contact_id_add_post(company_id, contact_id, opts = {})
      api_companies_company_id_contact_contact_id_add_post_with_http_info(company_id, contact_id, opts)
      nil
    end

    # Adds a contact to a company.
    # @param company_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_company_id_contact_contact_id_add_post_with_http_info(company_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_company_id_contact_contact_id_add_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_add_post"
      end
      if @api_client.config.client_side_validation && company_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'company_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_add_post, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_add_post"
      end
      if @api_client.config.client_side_validation && contact_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'contact_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_add_post, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{companyId}/contact/{contactId}/add'.sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_company_id_contact_contact_id_add_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Removes given contact from a company.
    # @param company_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_company_id_contact_contact_id_remove_post(company_id, contact_id, opts = {})
      api_companies_company_id_contact_contact_id_remove_post_with_http_info(company_id, contact_id, opts)
      nil
    end

    # Removes given contact from a company.
    # @param company_id 
    # @param contact_id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_company_id_contact_contact_id_remove_post_with_http_info(company_id, contact_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_company_id_contact_contact_id_remove_post ...'
      end
      # verify the required parameter 'company_id' is set
      if @api_client.config.client_side_validation && company_id.nil?
        fail ArgumentError, "Missing the required parameter 'company_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_remove_post"
      end
      if @api_client.config.client_side_validation && company_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'company_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_remove_post, must conform to the pattern /\\d+/."
      end

      # verify the required parameter 'contact_id' is set
      if @api_client.config.client_side_validation && contact_id.nil?
        fail ArgumentError, "Missing the required parameter 'contact_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_remove_post"
      end
      if @api_client.config.client_side_validation && contact_id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'contact_id' when calling DefaultApi.api_companies_company_id_contact_contact_id_remove_post, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{companyId}/contact/{contactId}/remove'.sub('{' + 'companyId' + '}', company_id.to_s).sub('{' + 'contactId' + '}', contact_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_company_id_contact_contact_id_remove_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_get(opts = {})
      api_companies_get_with_http_info(opts)
      nil
    end

    # Obtains a list of entities as defined by the API URL.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_get ...'
      end
      # resource path
      local_var_path = '/api/companies'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_id_delete_delete(id, opts = {})
      api_companies_id_delete_delete_with_http_info(id, opts)
      nil
    end

    # Deletes an entity.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_id_delete_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_id_delete_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_companies_id_delete_delete"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_companies_id_delete_delete, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{id}/delete'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_id_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_id_edit_patch(id, opts = {})
      api_companies_id_edit_patch_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_id_edit_patch_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_id_edit_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_companies_id_edit_patch"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_companies_id_edit_patch, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_id_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edits an existing entity or creates one on PUT if it doesn't exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_id_edit_put(id, opts = {})
      api_companies_id_edit_put_with_http_info(id, opts)
      nil
    end

    # Edits an existing entity or creates one on PUT if it doesn&#39;t exist.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_id_edit_put_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_id_edit_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_companies_id_edit_put"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_companies_id_edit_put, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{id}/edit'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_id_edit_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_id_get(id, opts = {})
      api_companies_id_get_with_http_info(id, opts)
      nil
    end

    # Obtains a specific entity as defined by the API URL.
    # @param id 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.api_companies_id_get"
      end
      if @api_client.config.client_side_validation && id !~ Regexp.new(/\\d+/)
        fail ArgumentError, "invalid value for 'id' when calling DefaultApi.api_companies_id_get, must conform to the pattern /\\d+/."
      end

      # resource path
      local_var_path = '/api/companies/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # If an existing company is matched, it'll be merged. Otherwise it'll be created.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_companies_new_post(opts = {})
      api_companies_new_post_with_http_info(opts)
      nil
    end

    # If an existing company is matched, it&#39;ll be merged. Otherwise it&#39;ll be created.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_companies_new_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_companies_new_post ...'
      end
      # resource path
      local_var_path = '/api/companies/new'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_companies_new_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Obtains a list of contact events.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_contacts_activity_get(opts = {})
      api_contacts_activity_get_with_http_info(opts)
      nil
    end

    # Obtains a list of contact events.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_contacts_activity_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_contacts_activity_get ...'
      end
      # resource path
      local_var_path = '/api/contacts/activity'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_contacts_activity_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_contacts_batch_delete_delete(opts = {})
      api_contacts_batch_delete_delete_with_http_info(opts)
      nil
    end

    # Delete a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_contacts_batch_delete_delete_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_contacts_batch_delete_delete ...'
      end
      # resource path
      local_var_path = '/api/contacts/batch/delete'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_contacts_batch_delete_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_contacts_batch_edit_patch(opts = {})
      api_contacts_batch_edit_patch_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_contacts_batch_edit_patch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_contacts_batch_edit_patch ...'
      end
      # resource path
      local_var_path = '/api/contacts/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Basic']
      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#api_contacts_batch_edit_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_contacts_batch_edit_put(opts = {})
      api_contacts_batch_edit_put_with_http_info(opts)
      nil
    end

    # Edit a batch of entities.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def api_contacts_batch_edit_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.api_contacts_batch_edit_put ...'
      end
      # resource path
      local_var_path = '/api/contacts/batch/edit'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

[...]
